*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}
.add-property{
    width: 100%;
}
.semi-div{
    background-color: #eb6d47;
    width: 50%;
    border-radius: 15px;
}
.add-form input{
    width: 100%;
    border: none;
    padding: 8px 50px;
    border-radius: 8px;
    margin: 10px 0;
}

   
